.timeline-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--bg-color-3);
  padding-bottom: 4rem;
}


/*  codigo copy */

.timeline-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.timeline-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 48px;
  color: var(--text-primary);
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: var(--border-color);
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  display: flex;
  width: 10 0%;
}

.timeline-item.left {
  justify-content: flex-start;
  margin-right: 3rem;
}

.timeline-item.right {
  justify-content: flex-end;
  margin-left: 3rem;
}

.timeline-dot {
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: var(--accent-color);
  border-radius: 50%;
  border: 4px solid var(--surface-color);
  transform: translateX(-50%);
  z-index: 2;
}

.timeline-dot.left {
  left: 53%;
}

.timeline-dot.right {
  left: 47%;
}

.timeline-card {
  width: calc(50% - 40px);
  background: var(--surface-color);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.timeline-period-contend.left {
  display: flex;
  justify-content: flex-end;
}

.timeline-period-contend.right {
  display: flex;
  justify-content: flex-start;
}

.timeline-period {
  display: inline-block;
  margin-bottom: 16px;
  padding: 6px 12px;
  background: rgba(41, 151, 255, 0.1);
  color: var(--accent-color);
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
}

.timeline-card h3 {
  margin: 0 0 6px;
  font-size: 20px;
  color: var(--text-primary);
}

.timeline-card h4 {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-secondary);
}

.timeline-card p {
  margin: 0;
  color: var(--text-secondary);
  line-height: 1.6;
}

.timeline-description {
  text-align: justify;
  text-wrap: balance;
}



@media (max-width: 768px) {
  .timeline-title h2{
    font-size: 1.9rem;
    margin-top: 4rem;
  }
  .timeline::before {
    left: 20px;
    transform: none;
  }

  .timeline-item {
    justify-content: flex-start !important;
  }

  .timeline-dot {
    left: 20px;
    transform: translateX(-50%);
  }

  .timeline-card {
    width: 100%;
    margin-left: 48px;
  }

  .timeline-title {
    font-size: 2rem;
  }

  .timeline-item.right {
    justify-content: flex-start !important;
    margin-right: 3rem;
    margin-left: 0;
  }
  .timeline-period-contend.right {
    justify-content: flex-end !important;
  }
  .timeline-dot.right {
    left: 5.3%;
  }
  
  .timeline-dot.left {
    left: 5.3%;
  }
} 


